<header id="header">
    <h1>MyStudentTextbook</h1>
    <nav id="nav">
    <ul>
      {{#if loggedIn}}
      <li><a href="#/home">Home</a></li>
      <li><a href="#/logout">Logout</a></li>
      {{else}}
      <li><a href="#/login">Login</a></li>
      <li><a href="#/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>
</header>