{{>header}}
<div id="notes-div-container">
    <div id="task-information">
        <label id="date"></label>
        <label id="task_name"></label>
    </div>
    <div id="editor" class="pell"></div>
    <div>
        <!-- HTML output: -->
        <button id="editor-save-button">Save</button>
        <div id="html-output"></div>
    </div>
</div>